<% content_for :title do %>About<% end %>
<h3>About</h3>
<p>Aún no he pensado a que destinaré esta web application hecha con RoR.</p>
<p>My favorite quotation is:</p>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
<p>Víctor Casas San Miguel.</p>
